
<nav class="navbar navbar-dark bg-primary " style="height:80px" >
    
    <ul class="container header "  >
        <li class="navbar navbar-expand-lg navbar-light bg-primary">
          <a class="navbar-brand" routerLink="../profile" >PROFILE</a>
        </li>
     
        <li class="navbar navbar-expand-lg navbar-light bg-primary">
          <a class="navbar-brand" routerLink="../people" >PEOPLE</a>
        </li>
    
        <li class="navbar navbar-expand-lg navbar-light bg-primary">
          <a class="navbar-brand" routerLink="../chat" >CHAT</a>
        </li>
      
        <li class="navbar navbar-expand-lg navbar-light bg-primary">
          <a class="navbar-brand" (click)="logout()" routerLink="../login" >LOGOUT</a>
        </li>

        <li class="navbar navbar-expand-lg navbar-light bg-primary">
          <a class="navbar-brand" (click)="logout()" routerLink="../login" ></a>
        </li>
      
        <img   src="./assets/image.png" width="240" height="72px">

    </ul> 
  </nav>
