
                .main{
                    position: absolute;
                    top: 80px;
                    left:2px;
                   
                width: 2200px;
                height: 1000px;
                
                background: #71dae6;
                }
.msgbx{
   
    position: fixed;
    right:105px;
    height: 40px;
    bottom:20px
}
.msg{
    position: relative;
    top:0px;
    left:15px;
}
.send{
    position: absolute;
width: 100px;
height: 40px;

background: #21df6d;
border-radius: 90px;
}

.msgg{
    position: relative;
    width: 650px;
    height: 40px;
    border-radius: 90px;
}