.main {
    position: absolute;
    top: 82px;
    left: 2px;

    width: 100%;
    height: 200%;

    background: #71dae6;
}

.msgbx {

    position: fixed;
    right: 105px;
    height: 40px;
    bottom: 20px
}

.msg {
    position: relative;
    top: 60px;
    left: 15px;
}

.send {
    position: absolute;
    width: 100px;
    height: 40px;

    background: #21df6d;
    border-radius: 90px;
}

.msgg {
    position: relative;
    width: 650px;
    height: 40px;
    border-radius: 90px;
}

@media screen and (max-width: 760px) {
    .section div {
        font-size: 3vw;
    }
    .msgg{
        width:60vw;
    }
  }