.main {
  position: absolute;


  width: 100%;
  height: 110%;

  background: #71dae6;
}

.form{
  position: absolute;
  width: 440px;
  height: 700px;
  left: 525px;
  top: 40px;
  
  border-radius: 64px;

background: white;
border: 1px solid #5A1B1B;
backdrop-filter: blur(2px);

border-radius: 91px;
}
.icon{
  position: absolute;

left: 100px;
top: 80px;


}
.logo{
  position: absolute;

left: 170px;
top: 190px;


border-radius: 60px;
}
.email{position: absolute;
  width: 380px;
  height: 35px;
  left: 35px;
  top: 360px;
  
  background: white;
  border: 0px}
  .emaill{position: absolute;
    width: 380px;
    height: 0px;
    left: 35px;
    top: 400px;
    
    border: 1px solid #000000;}
    .password{position: absolute;
      width: 380px;
      height: 35px;
      left: 35px;
      top: 440px;
      
      background: white;
      border: 0px}
  .passwordl{
      position: absolute;
      width: 380px;
      height: 0px;
      left: 35px;
top: 480px;

border: 1px solid #000000;
transform: rotate(-0.67deg);
  }
  .login{
    position: absolute;
width: 209px;
height: 39px;
left:110px;
top: 520px;

background: #2BB090;
border-radius: 90px;
}

.forget{
  position: absolute;
  left:185px;
  top: 585px;

border-radius: 90px;
}
.signup{
  position: absolute;
width: 239px;
height: 49px;
left: 95px;
top: 620px;

border-radius: 90px;
}

.form button:hover {
  background: #71dae6;
}
