
   
        


<div class="main">
        <div class="form">
            <form #userForm="ngForm" >
                <img src="./assets/image.png" class="icon">

                    <h2 class="fw-bold mb-2  ">SIGNUP</h2>
            
                    
               <img [src]="img" class="img" >    
                
                   


         
            <input    type="file" (change)="image($event)" >

        
        

        <input  class="name" type="text" name="name" placeholder="Name" ngModel><br>
       
        <input class="email" type="email" name="email" placeholder="Email" ngModel><br>

        <input class="password" type="password" name="password" placeholder="Password" ngModel><br>

        <button class="signup" (click)="signUp(userForm.value)"  routerLink="../profile">SignUp</button>

            </form>

        </div>
</div>
