*{
  margin: 0;
  padding: 1rem;
}
.main {

position: static;
  width: 100vw;
  height: 100%;
  background: #71dae6;

  
}
  
.form{
  display: block;
    margin-left: auto;
    margin-right: auto;

  width: 30vw;
  height: 95vh;
  top: 40px;
  
  border-radius: 53px;

background: white;
border: 1px solid #5A1B1B; 
padding: 0vw;
text-align: center;

border-radius: 91px;
}

  .img{
    top:1vh;
    border-radius: 50px;
    width: 12vw;
    height: 12vw;
    padding: 0vw;
    margin: 0vw;

  }
  .icon{
      padding: 0vw;
      margin-top:2vh;
    
    width: 15vw;
    height: 4vw;
    }

   
 
  .logo{
    position: absolute;
  
  left: 240px;
  top: 190px;
  
  
  border-radius: 60px;
  }
 
  .name{
    width: 25vw;
    height: 2vw;
    
    margin-top: 1vw;
    background: rgb(186, 215, 214);
   }
    
      .email{
        width: 25vw;
        height: 2vw;
        margin-top: 3vh;
  
        background: rgb(186, 215, 214)      }
  .password{
  
      width: 25vw;
      height: 2vw;
      margin-top: 3vh;
      background: rgb(186, 215, 214)      
  }
    .signup{
      margin-top: 3vw;
      width: 11vw;
      height: 3vw;
  
      text-align: center;
      padding: 0.2vw;
  background: #2BB090;
  border-radius: 90px;
  }
  
  
  
  .form button:hover {
    background: #71dae6;
  }
  @media screen and (max-width: 1050px) {
    .form{
     
      width: 80vw;
      height: 170vw;  
    
    }
    .icon{
      
    
    width: 50vw;
    height: 10vw;
    }

  .name{
    width: 60vw;
    
    
   }
    .email{
      width: 60vw;
   
     }
      
        .password{
          width: 60vw;
        }
      .signup{
        margin-top: 10vw;
        width: 30vw;
        height: 12vw;
      }
      .img{
        
        width: 40vw;
        height: 40vw;
       
      }
  }
  