.main {
    position: absolute;
  
  
    width: 100%;
    height: 110%;
  
    background: #71dae6;
  }
  
  .form{
    position: absolute;
    width: 440px;
    height: 700px;
    left: 525px;
    top: 40px;
    
    border-radius: 64px;
  
  background: white;
  border: 1px solid #5A1B1B;
  backdrop-filter: blur(2px);
  
  border-radius: 91px;
  }
  .img{
    position: absolute;
    top:100px;
    left:20px;
    border-radius: 50px;
  }
  .imgs{
    position: absolute;
    top:240px;
    width: 0px;
    left:170px;
    height: 0px;

  
    border-radius: 90px;
    background: #71dae6;
  }
  .icon{
    position: absolute;
  
  left: 180px;
  top: 100px;
  
  
  }
  .logo{
    position: absolute;
  
  left: 240px;
  top: 190px;
  
  
  border-radius: 60px;
  }
  .name{position: absolute;
    width: 380px;
    height: 35px;
    left: 35px;
    top: 360px;
    
    background: white;
    border: 0px}
    .namel{position: absolute;
      width: 380px;
      height: 0px;
      left: 35px;
      top: 400px;
      
      border: 1px solid #000000;}
      .email{position: absolute;
        width: 380px;
        height: 35px;
        left: 35px;
        top: 440px;
        
        background: white;
        border: 0px}
    .emaill{
        position: absolute;
        width: 380px;
        height: 0px;
        left: 35px;
  top: 480px;
  
  border: 1px solid #000000;
  transform: rotate(-0.67deg);
    }
      .password{position: absolute;
        width: 380px;
        height: 35px;
        left: 35px;
        top: 520px;
        
        background: white;
        border: 0px}
    .passwordl{
        position: absolute;
        width: 380px;
        height: 0px;
        left: 35px;
  top: 560px;
  
  border: 1px solid #000000;
  transform: rotate(-0.67deg);
    }
    .signup{
      position: absolute;
  width: 209px;
  height: 39px;
  left:110px;
  top: 600px;
  
  background: #2BB090;
  border-radius: 90px;
  }
  
  
  
  .form button:hover {
    background: #71dae6;
  }
  