.main {
    position: absolute;
    top: 82px;
    left: 2px;

    width: 100%;
    height: auto;

    background: #71dae6;
}

.icon {
    position: fixed;
    top: 7px;
    right: 7px;
}

.msgbx {
    overflow: auto;
    position: fixed;


}
.font{
    padding-top: 25px;
    font-weight:500;
}