<app-header></app-header>
<div class="main">    
    <table class="table table-striped">
        <thead >
            <tr>
                <th class="">#</th>
                <th class="">Profile</th>
                <th class="">Name</th>
                <th class="">Email</th>
                <th class=""></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let people of peopleInfo; index as i">
                <th class="">{{ i + 1 }} </th>
                <td class="">
                    <img 
                        src="https://oealfnepepsbsdmsnqkq.supabase.co/storage/v1/object/public/socialmed/{{people.profile}}"
                        class="me-2" class="rounded-lg"
                        width="80" height="80"
                    />
                </td>
                <td style="text-transform:uppercase " class="font" >{{people.name}}</td>
                <td style="text-transform:uppercase" class="font">{{people.email}}</td>
                
            </tr>
        </tbody>
    </table>
    
</div>
