<app-header></app-header>

<div class="main "> 
<div class="profile"><img src="https://oealfnepepsbsdmsnqkq.supabase.co/storage/v1/object/public/socialmed/{{user.profile}}" width="170" height="170" class="rounded-circle"   ></div>
<div class="data">
    <h5 style="text-transform:uppercase " >UserName: &nbsp;{{user.name}}</h5>
    
    <h5 style="text-transform:uppercase " >Email: &nbsp; {{user.email}}</h5>
    <form #pic="ngForm" (ngSubmit)="changepic(pic.value)">
        <label for="file-input">
            <img src="./assets/pngegg.png" widht="20px" height="30px"/>
          </label>

          <input class="downimg"  id="file-input" type="file" (change)="picture($event)"  >

        <button click="submit" class="btn btn-outline-success cho">Change</button><br>
    </form> 
</div>

<div class="post">
    <form #post="ngForm" (ngSubmit)="Post(post.value)">
        
            <label for="file-input">
              <img src="./assets/pngegg.png" widht="20px" height="30px"/>
            </label>
            <input   class="downimg" id="file-input" type="file" (change)="picture($event)" >
          
       

        <input type="text" class="msg" name="comment" placeholder=Caption_OR_Comment ngModel>
        <button click="submit" class="btn btn-outline-success submit">Post</button>
    </form>
</div>

<div class="posts row row-cols-lg-3  " >
<td *ngFor="let feed of userPost" class="col col-1">
    <img src="https://oealfnepepsbsdmsnqkq.supabase.co/storage/v1/object/public/socialmed/{{feed.post}}"  width="100%" height="200"><br>
    <h5>Caption: {{feed.comment}}</h5>
</td>
</div>
</div>