<app-header></app-header>

<div class="main "> 
<div class="profile"><img src="http://localhost:7000/profilePic/{{user.profile}}" width="170" height="170" class="rounded-circle"   ></div>
<div class="data">
    <h5 style="text-transform:uppercase " >UserName: &nbsp;{{user.name}}</h5>
    
    <h5 style="text-transform:uppercase " >Email: &nbsp; {{user.email}}</h5>
    <form #pic="ngForm" (ngSubmit)="changepic(pic.value)">
        <input type="file" class="cho"  (change)="picture($event)">
        <button click="submit" class="btn btn-outline-success cho">Change</button><br>
    </form> 
</div>

<div class="post">
    <form #post="ngForm" (ngSubmit)="Post(post.value)">
        <input type="file" class="cho" (change)="image($event)"><br>
        <input type="text" class="msg" name="comment" placeholder=Caption_OR_Comment ngModel>
        <button click="submit" class="btn btn-outline-success submit">Post</button>
    </form>
</div>

<div class="posts">
<td *ngFor="let feed of userPost" >
    <img src="http://localhost:7000/profilePic/{{feed.post}}"  width="100%" height="200"><br>
    <h5>Caption: {{feed.comment}}</h5>
</td>
</div>
</div>