.main {
    position: absolute;
    top: 80px;
    left: 2px;

    width: 100%;
    height: 100%;

    background: #71dae6;
}

.profile {
    position: absolute;

    left: 10px;
    top: 135px;

    background: #71dae6;
}

.data {
    position: absolute;

    left: 240px;
    top: 170px;

    background: #71dae6;
}

.posts {
    position: absolute;

    left: 5px;
    top: 350px;

    background: #D9D9D9;
}

.icon {
    position: fixed;
    top: 10px;
    right: 7px;
}

.post {
    position: fixed;
    right: 105px;
    height: 40px;
    bottom: 35px
}

.msg {
    position: relative;
    width: 250px;
    height: 40px;
    border-radius: 90px;
}

.submit {
    position: absolute;
    width: 100px;
    height: 40px;

    background: #21df6d;
    border-radius: 90px;
}

.cho {
    position: relative;
    width: 250px;
    bottom: 1px;
    background: #21df6d;
    border-radius: 90px;
}

.pad a:hover {
    color: white;

}

.pad a:after {
    color: pink;

}

.pad a {
    font-weight: 500;
    font-size: x-large;
}