
  
<div class="main">
  <div class="form">
      <div class="icon"><img src="./assets/image.png" width="230" height="60"></div>
                <h2 class="fw-bold mb-2 text-uppercase logo">FORGET</h2>

                <form #userForm ="ngForm">
                  <input  class="email" type="text" name="email" placeholder="Email" ngModel><br>
  
                  <input class="oldpassword" type="password" name="oldpassword" placeholder="Old Password" ngModel><br>

                  <input class="newpassword" type="password" name="newpassword" placeholder="New Password" ngModel><br>
                  
  
  
                <button class="forget" (click)="forget(userForm.value)" routerLink="../{{logi}}">Forget</button>
                </form>

           
              </div>
  </div>